<div class="flex pl-8 p-4">
    <div class="h-full shrink-0">
        <%= image_tag(recipe.image, class: "h-72 w-full aspect-square object-cover rounded-xl") %>
    </div>
    <div class="pl-8 text-left break-words">
        <div class="block mt-1 text-2xl leading-tight font-medium text-black"> <%= recipe.title %> </div>
        <div class="text-xs pt-2">
            Author: <span class="uppercase tracking-wide text-indigo-500 font-semibold"> <%= recipe.author %> </span>
        </div>
        <div class="pt-6 text-xl font-medium">Ingredients:</div>
        <div class="pt-2 pl-4 text-slate-500" >
            <ul>
                <% recipe.ingredients.each do |ingredient| %>
                    <ol><%= ingredient.title %></ol>
                <% end %>
            </ul>
        </div>
    </div>
</div>
