
<div class="container mx-auto mt-28">
    <h1 class="text-4xl font-semibold pb-4 text-center">Recipes</h1>

    <% if @all_recipes.empty? %>
        <div class="font-medium">No Recipes available</div>
    <% else %>
        <% @all_recipes.each do |recipe| %>
            <%= render "recipe", recipe: recipe  %>
        <% end %>
    <% end %>
</div>
