
<div class="container mx-auto h-full flex flex-col pt-12">
    <h1 class="text-4xl font-semibold text-center shrink pb-10">Recipes</h1>

    <div class="self-center pb-6 w-full max-w-xl">
        <input
            type="text"
            placeholder="Search..."
            class="input input-bordered w-full rounded-md"
            name="search"
        />
    </div>

    <% if @all_recipes.empty? %>
        <div class="font-medium">No Recipes available</div>
    <% else %>
        <div class="grid grid-cols-2 grow overflow-hidden">
            <div class="h-full overflow-auto">
                <% @all_recipes.each do |recipe| %>
                    <%= render "recipe", recipe: recipe  %>
                <% end %>
            </div>
            <div class="px-4 text-center">
                <% if @selected.blank? %>
                    <div class="p-4">No Recipe Selected</div>
                <% else %>
                    <%= render "selected_recipe", recipe: @selected  %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>
