<div
    class="container mx-auto h-full flex flex-col pt-12"
    hx-headers='{"X-CSRF-Token": "<%= form_authenticity_token %>"}'
>
    <h1 class="text-4xl font-semibold text-center shrink pb-10">Recipes</h1>

    <%= render "filter_controls" %>

    <% if @all_recipes.empty? %>
        <div class="font-medium">No Recipes available</div>
    <% else %>
        <div class="grid grid-cols-2 grow overflow-hidden">
            <div id="recipe-list" class="h-full overflow-auto">
                <% @all_recipes.each do |recipe| %>
                    <%= render "recipe", recipe: recipe  %>
                <% end %>
            </div>
            <div id="selected-recipe">
               <div class="p-4 text-center">No Recipe Selected</div>
            </div>
        </div>
    <% end %>
</div>
